<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124724628822-iqvcakgi7n5cc8n0qu25svqcth7s51op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124724628822-iqvcakgi7n5cc8n0qu25svqcth7s51op</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Evga0m754hS7tGeRpwi3DruRrS0e2Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>124724628822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hnuMisAnnouncement</string>
	<key>PROJECT_ID</key>
	<string>se102-64409</string>
	<key>STORAGE_BUCKET</key>
	<string>se102-64409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124724628822:ios:07c520651de434ec021af7</string>
	<key>DATABASE_URL</key>
	<string>https://se102-64409-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>